<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">Patienten Details</div>
        <div class="panel-body">
            <p>{{patient.name}} ({{patient.birthdate | date : 'dd.MM.yy'}})</p>
            <p>{{patient.address}}, {{patient.postcode}}</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Zugewiesene Aufgaben</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="Tasks in patient.assignedTherapyTasks">
                    {{Tasks.Pattern}}
                </li>
            </ul>
            <br>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Therapeutische Aufgabe hinzufügen</div>
            <div class="panel-body">
                <button type="button" class="btn btn-default dropdown-toggle"
                        ng-model="selectedtherapyTaskPattern" data-html="1"
                        data-multiple="0" data-animation="am-flip-x"
                        placeholder="Therapeutische Aufgabe auswählen"
                        bs-options="therapyTaskPattern._id as therapyTaskPattern.name for therapyTaskPattern in therapyTaskPatterns"
                        bs-select><span class="caret"/>
                </button>
                <br>
                <br>
                <div class="form-group">
                    Zu erledigen zwischen
                    <input type="text" class="form-control"
                           style="width:75px; text-align: center; display:inline;" size="2"
                           ng-model="assignedTherapyTasks.TargetContext.FromTime"
                           name="assignedTherapyTasks.TargetContext.FromTime"
                           bs-timepicker data-time-format="HH:mm"
                           data-length="1" data-minute-step="1"
                           data-arrow-behavior="picker"> und

                    <input type="text" class="form-control"
                           style="width:75px; text-align: center; display:inline;" size="2"
                           ng-model="assignedTherapyTasks.TargetContext.ToTime"
                           name="assignedTherapyTasks.TargetContext.ToTime"
                           bs-timepicker data-time-format="HH:mm"
                           data-length="1" data-minute-step="10"
                           data-arrow-behavior="picker">
                    an folgenden Wochentagen:
                    <button type="button" class="btn btn-default dropdown-toggle"
                            ng-model="assignedTherapyTasks.TargetContext.OnWeekdays" data-html="1"
                            data-multiple="1" data-animation="am-flip-x"
                            placeholder="Wochentage auswählen"
                            bs-options="weekday.name as weekday.name for weekday in weekdays" bs-select>Wochentage <span
                            class="caret"></span>
                    </button>
                </div>
                <div class="form-group">
                    Wo zu erledigen:
                    <input type="text" class="form-control"
                           ng-model="assignedTherapyTasks.TargetContext.location"/>

                </div>

                <input class="btn btn-success" ng-click="addTherapyTask()" value="Aufgabe zuweisen"/>
            </div>
        </div>
    </div>

</form>