<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">Patienten Details</div>
        <div class="panel-body">
            <p>{{patient.name}} ({{patient.birthdate | date : 'dd.MM.yy'}})</p>
            <p>{{patient.address}}, {{patient.postcode}}</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Therapeutische Aufgaben verwalten</div>
        <div class="panel-body">
            <ul class="list-group">
                <!--<li class="list-group-item" ng-repeat="therapyTask in tasks">{{tasks.name}}</li> -->
            </ul>
        </div>
    </div>
</form>