<form class="form-horizontal" ng-submit="savePatient()">
    <fieldset>
        <legend>Patient Details</legend>

        <div class="control-group">
            <label class="control-label" for="textinput">Name</label>
            <div class=controls">
                <input id="textinput" name="textinput" type="text"
                       placeholder="Max Mustermann" class="input-xlarge"
                       ng-model="patient.name">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">Geburtsdatum</label>
            <div class=controls">
                <input id="textinput" name="textinput" type="time" ng-model="patient.birthdate">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">Straße & Nr.</label>
            <div class=controls">
                <input id="textinput" name="textinput" type="text"
                       placeholder="BeispielStraße 9" class="input-xlarge"
                       ng-model="patient.address">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">PLZ & Ort</label>
            <div class=controls">
                <input id="textinput" name="textinput" type="text"
                       placeholder="Max Mustermann" class="input-xlarge"
                       ng-model="patient.postcode">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">Telefonnummer</label>
            <div class=controls">
                <input id="textinput" name="textinput" type="text"
                       placeholder="Max Mustermann" class="input-xlarge"
                       ng-model="patient.phoneNumber">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">eMail Adresse</label>
            <div class=controls">
                <input id="textinput" name="textinput" type="email"
                       placeholder="MaxMustermann@gmx.de" class="input-xlarge"
                       ng-model="patient.emailAddress">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">Patienten Info</label>
            <div class=controls">
                <textarea id="textinput" name="textinput" type="text"
                       placeholder="Max Mustermann" class="input-xlarge" size="40"
                       ng-model="patient.patientInfo">
            </textarea>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Speichern"/>
            </div>
        </div>
    </fieldset>
</form>