<link rel="stylesheet" href="stylesheets/diagram-js.css"/>
<link rel="stylesheet" href="stylesheets/bpmn-font/css/bpmn-embedded.css"/>
<link rel="stylesheet" href="stylesheets/modeller.css"/>


<div style="padding-top: 30px" class="canvas content" id="canvas">
    <md-input-container style="width: 150px" class="md-block" flex-gt-sm>
        <label>Name aus bestehenden Fragebögen wählen</label>
        <md-select ng-model="actualQuestionnaire.name">
            <md-option ng-repeat="form in existingQuestionnaire" value="{{form.name}}">
                {{form.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <label>Speichern als: </label>
    <input ng-model="actualQuestionnaire.name">
    <md-button class="btn md-raised" ng-click="showConfirm($event)">
        Speichern
    </md-button>
</div>

