<h2>Fragebögen</h2>
<a href="#questionnaireModify" class="btn btn-success">Fragebogen hinzufügen</a>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-striped">
            <thead>
            <th>Name</th>
            <th>Bearbeiten</th>
            <tbody>
            <a href="#/questionnaireModify/{{existingQuestionnaire._id}}">
                <tr ng-repeat="form in existingQuestionnaire">
                    <td><a href="#/questionnaireModify/{{form._id}}">{{form.name}}</a></td>
                    <td>
                        <a href="#/questionnaireModify/{{form._id}}" class="btn btn-warning">Bearbeiten</a>
                        <a href="" ng-click="deleteQuestionnaire(form)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            </a>
            </tbody>

        </table>
    </div>
</div>