<form class="form-horizontal" ng-submit="saveTherapieTask()">
    <fieldset>
        <legend>Patient Details</legend>

        <div class="control-group">
            <label class="control-label" for="textinput">Name</label>
            <div class=controls">
                <input id="textinput" name="textinput" type="text"
                       placeholder="Name/Kurzbeschreibung" class="input-xlarge"
                       ng-model="therapieTask.name">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">Beschreibung</label>
            <div class=controls">
                <textarea id="textinput" name="textinput" type="text"
                          placeholder="Beschreibung der Therapeutischen Aufgabe" class="input-xlarge" size="40"
                          ng-model="therapieTask.description">
                </textarea>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">Materialien</label>
            <div class=controls">
                <input id="textinput" name="textinput" type="text" placeholder="TODO AUSWÄHLER"  ng-model="therapieTask.materials">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="textinput">Feedback Fragebogen</label>
            <div class=controls">
                <input id="textinput" name="textinput" type="text"
                       placeholder="TODO Fragebogenauswahl" class="input-xlarge"
                       ng-model="therapieTask.feedbackForm">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Speichern"/>
            </div>
        </div>
    </fieldset>
</form>