<div ng-controller="patientListController">
    <iv class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped">
                <thead>
                <tr></tr>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Bearbeiten</th>
                <tbody>
                <tr ng-repeat="therapieTask in therapieTasks">
                    <td>{{therapieTask.name}}</td>
                    <td>{{therapieTask.description}}</td>
                    <td><a href="#/therapieTaskDetails/{{therapieTask._id}}" class="btn btn-warning">Bearbeiten</a>
                        <a href="" ng-click="deleteTherapieTask(therapieTask)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
                </thead>
            </table>
        </div>
        <a href="#therapieTaskDetails" class="btn btn-success">Therapeutische Aufgabe hinzufügen</a>
    </iv>
</div>