<div ng-controller="patientListController">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover table-striped">
                <thead>
                <tr></tr>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Bearbeiten</th>
                <tbody>
                <tr ng-repeat="therapyTask in therapyTasks">
                    <td>{{therapyTask.name}}</td>
                    <td>{{therapyTask.description}}</td>
                    <td><a href="#/therapyTaskDetails/{{therapyTask._id}}" class="btn btn-warning">Bearbeiten</a>
                        <a href="" ng-click="deleteTherapyTask(therapyTask)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
                </thead>
            </table>
        </div>
        <a href="#therapyTaskDetails" class="btn btn-success">Therapeutische Aufgabe hinzufügen</a>
    </div>
</div>